<main id="main-wrapper" class="container">
  <section class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="mb-5">
                  <h3 class="h4 font-weight-bold text-theme">Welcome</h3>
                </div>

                <p class="text-muted mt-2 mb-5">Enter Your Information</p>

                <form [formGroup]="registerForm">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      formControlName="name"
                    />
                  </div>
                  <div class="form-group mb-5">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      formControlName="password"
                    />
                  </div>
                  <div class="form-group mb-5 d-none">
                    <label for="repeat-password">Repeat Your Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="repeat-password"
                    />
                  </div>
                  <span class="d-flex w-100 justify-content-between">
                    <button
                      type="submit"
                      class="btn btn-theme"
                      (click)="register()"
                    >
                      Register
                    </button>
                  </span>
                </form>
              </div>
            </div>

            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                <div class="overlay rounded-right"></div>
                <div class="account-testimonial">
                  <h4 class="text-white mb-4">Welcome To Blogo</h4>
                  <p class="lead text-white text-center">
                    "Gather knowledge and share it with the world !"
                  </p>
                  <p>Blogo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->

      <p class="text-muted text-center mt-3 mb-0">
        Already have an account ?
        <a [routerLink]="['/account/login']">register</a>
      </p>

      <!-- end row -->
    </div>
    <!-- end col -->
  </section>
  <!-- Row -->
</main>
